.banner_slider-item {
  color: #ffffff;
  background-image: url('../images/banner.png');
  background-position: center;
  background-size: cover;
  object-fit: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // position: relative;
}
.banner_content-container {
  padding: 0 20px;
  margin: auto;
  max-width: 1200px;
}

.banner_content {
  text-align: center;
  h1 {
    font-family: $title-text;
    margin-bottom: 50px;
    span {
      color: #f61067;
    }
  }
  p {
    line-height: 30px;
    max-width: 420px;
    margin: auto;
  }
  .banner_btn {
    background: #f61067;
    border-radius: 4px;
    color: #fff;
    width: 240px;
    height: 50px;
    border: none;
    margin-top: 50px;
  }
}

// ================ SLIDER

.slick-list {
  overflow-x: hidden;
  max-width: 1920px;
  position: relative;
}

.slick-track {
  position: relative;
  display: flex;
}

.slick-arrow {
  font-size: 0px;
  opacity: 0;
  position: absolute;
  top: 50%;
  z-index: 10;
  pointer-events: none;
  width: 40px;
  height: 40px;
  border: 1px solid #f2f2f2;
  border-radius: 50%;
  transition: 0.3s ease-in-out;
  outline: none;
}

.slick-next {
  right: 10%;
  background: url('../images/arrow-right.svg') 0 0 / 100% no-repeat;
}

.slick-prev {
  background: url('../images/arrow-left.svg') 0 0 / 100% no-repeat;
  left: 10%;
}

.slick-next:hover {
  width: 50px;
  height: 50px;
  opacity: 0.8;
}

.slick-prev:hover {
  width: 50px;
  height: 50px;
  opacity: 0.8;
}

// ===================== DOTS

.slick-dots {
  position: absolute;
  display: flex;
  bottom: 30px;
  right: 50%;
  transform: translateX(50%);
  button {
    font-size: 0;
    border: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #f2f2f2;
    margin: 0 15px;
    outline: none;
  }
}

.slick-active button {
  background-color: $color-pink;
}

// .slick-dots button {
//   font-size: 0;
//   border: none;
//   width: 15px;
//   height: 15px;
//   border-radius: 50%;
//   background-color: #f2f2f2;
//   margin: 0 15px;
// }

// ============== MEDIAQUERY

@media screen and (min-width: 768px) {
  .banner_content-container {
    width: 600px;
  }
  .banner_content {
    text-align: left;

    h1 {
      font-size: 60px;
      font-family: $title-text;
      margin-bottom: 50px;
      span {
        color: #f61067;
      }
    }
    p {
      line-height: 30px;
      max-width: 420px;
      margin-left: 0;
      font-size: 20px;
    }
    .banner_btn {
      background: #f61067;
      border-radius: 4px;
      color: #fff;
      width: 246px;
      height: 50px;
      border: none;
      margin-top: 50px;
      font-size: 16px;
    }
  }
}

@media screen and (min-width: 1024px) {
  .slick-arrow {
    opacity: 0.5;
    pointer-events: initial;
  }
}

@media screen and (min-width: 1280px) {
  .banner_content-container {
    width: 1200px;
  }
  .banner_content {
    text-align: left;
    margin-left: 150px;
    h1 {
      font-size: 100px;
      font-family: $title-text;
      margin-bottom: 50px;
      line-height: 120px;
      span {
        color: #f61067;
      }
    }
    p {
      line-height: 31px;
      max-width: 420px;
      margin-left: 0;
      font-size: 20px;
    }
    .banner_btn {
      background: #f61067;
      border-radius: 4px;
      color: #fff;
      width: 346px;
      height: 65px;
      border: none;
      margin-top: 50px;
      font-size: 20px;
    }
  }
}
