.contacts {
  background-color: #150433;
  &_inner {
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin: auto;
  }
  &_info {
    color: #fff;
  }
  &_title {
    text-align: center;
  }

  &_adress-item {
    width: 296px;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    margin: 20px 0;
    font-family: $title-text;
    i {
      margin-right: 20px;
    }
  }
  &_details {
    background-color: #fff;
    color: #000;
    padding: 25px 0;
    border-radius: 4px;
    z-index: 999;
  }
}

.detail-list {
  padding: 25px 0;
}

.detail-item {
  padding: 0 20px;
  margin: 15px 0;
  i {
    margin-right: 15px;
    font-size: 16px;
  }
  p {
    font-family: $title-text;
  }
}

.facebook i {
  font-size: 20px;
}
.instagram i {
  font-size: 20px;
}

.schedule {
  display: flex;
  align-items: center;
}

#map {
  height: 300px;
  width: 100%;
  background-color: khaki;
  margin: 20px 0;
}

@media screen and (min-width: 768px) {
  .contacts_map-info {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 50%;
    position: relative;
  }
  .contacts_info-details {
    width: 290px;
    position: absolute;
    transform: translateX(100%);
  }
  #map {
    height: 400px;
    width: 400px;
    background-color: khaki;
    margin: 20px 0;
  }
}

@media screen and (min-width: 1280px) {
  .contacts_inner {
    flex-direction: row;
  }

  .contacts_adress-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contacts_info {
    margin-right: 40px;
    align-items: center;
  }
  .contacts_title {
    font-size: 50px;
  }
  #map {
    height: 600px;
    width: 700px;
  }
  .contacts_info-details {
    width: 290px;
    position: absolute;
    transform: translateX(150%);
  }
}

// ==== ACTIVE ITEM ADRESS

.active-item-adress {
  background-color: $color-pink;
}
