.header {
  position: fixed;
  padding: 10px 0;
  width: 100%;
  max-width: 1920px;
  transition: 0.2s;
  &_inner {
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
    color: #fff;
    margin: auto;
  }
  &_logo {
    // font-weight: bold;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    letter-spacing: 2px;
    color: inherit;
  }
  &_menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    background-color: $color-violet;
    padding: 15px 25px;
    top: 100%;
    left: 100%;
    transition: 0.5s ease-in-out;
    opacity: 0;
  }
}

.show-menu {
  right: 0;
  left: 0;
  opacity: 1;
  // color: #fff;
}

.haeder_menu-item {
  margin: 20px 0;
}

.haeder_menu-item a {
  padding-bottom: 5px;
  margin: 0 35px;
  color: inherit;
  font-weight: 400;
  &:hover {
    border-bottom: 2px solid #fff;
  }
}

@media screen and (min-width: 1024px) {
  .header_menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: static;
    background-color: transparent;
    padding: 0;
    opacity: 1;
  }
  .haeder_menu-item {
    margin: 0;
  }
  .header {
    &_burger-menu {
      visibility: hidden;
    }
  }
}

.white-bg {
  background-color: #fff;
  padding: 5px 0;
  .header_logo {
    color: #000;
  }
  .haeder_menu-item a {
    color: #000;
    transition: 0.1s;
  }
  .haeder_menu-item a:hover {
    border-bottom: 2px solid $color-pink;
  }
  .header_burger-menu i {
    color: #000;
  }
}
