.header {
  position: fixed;
  width: 100%;
  &_inner {
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
    color: #fff;
    margin: auto;
  }
  &_logo {
    // font-weight: bold;
    font-family: 'Nunito', sans-serif;
  }
  &_menu {
    display: flex;
    align-items: center;
  }
}

nav {
  display: none;
}

.haeder_menu-item a {
  padding-bottom: 5px;
  margin: 0 35px;
  color: inherit;
  &:hover {
    border-bottom: 2px solid #fff;
  }
}

@media screen and (min-width: 1024px) {
  nav {
    display: block;
  }
  .header {
    &_burger-menu {
      visibility: hidden;
    }
  }
}
